:root {
  --text-color: #ffffff;
  --font-family: "Rubik", serif;
  --green-color: #c4f85c;
  --container-color: #1c1c1e;
  --container-color-two: #b9bbbc;
  --background-color: #000000;
}

.menu {
  position: fixed;
  bottom: 7px; /* Подняли меню на 5px вверх */
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  padding: 10px 5px;
  z-index: 1004;
}

.menu-item {
  display: flex;
  flex-direction: column; 
  text-align: center;
  margin-bottom: 0;
  padding: 12px 12px;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.menu-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.menu-item svg,
.menu-item img {
  display: block;
  width: 24px !important;
  height: 24px !important;
  margin-bottom: 2px;
}

.Name {
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  font-family: var(--font-family);
  color: var(--container-color-two);
  transition: all 0.3s ease;
}

.menu-item.active .Name {
  color: #ffffff;
  text-shadow: 
    0 0 10px rgba(255, 255, 255, 0.7),
    0 0 20px rgba(255, 255, 255, 0.5),
    0 0 30px rgba(255, 255, 255, 0.3);
}

.menu-item.active svg,
.menu-item.active img {
  filter: 
    drop-shadow(0 0 8px rgba(255, 255, 255, 0.7))
    drop-shadow(0 0 15px rgba(255, 255, 255, 0.5))
    drop-shadow(0 0 20px rgba(255, 255, 255, 0.3));
}

.menu-item.friends-item a {
  display: flex;
  justify-content: center;
  align-items: center;
}