.tasks-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 15px;
  padding: 10px 0;
  margin-top: 10px;
}

.header-icon {
  font-size: 5rem;
}

.header-text {
  font-size: 0.78rem;
  color: #ccc;
  max-width: 400px;
  line-height: 1.4;
}

.header-line {
  margin: 0;
  line-height: 1.2;
}

.header-line:first-child {
  margin-bottom: 4px;
}

@media (min-height: 890px) and (max-height: 940px) {
  .header-text {
    font-size: 1rem;
    color: #ccc;
    max-width: 400px;
    line-height: 1.4;
  }
}